Flask==0.10.1
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-ReCaptcha==0.4.2
Flask-SQLAlchemy==2.1
Flask-Uploads==0.2.0
Jinja2==2.8
MarkupSafe==0.23
MySQL-python==1.2.5
SQLAlchemy==1.0.12
Werkzeug==0.11.9
blinker==1.4
dropbox==6.2
gunicorn==19.4.5
httplib2==0.18.0
itsdangerous==0.24
pytz==2016.4
requests==2.10.0
six==1.10.0
twilio==5.4.0
urllib3==1.15.1
wsgiref==0.1.2
