<ion-view view-title="Connect">
  <ion-content class="has-header">
<style type="text/css">
img {margin-bottom: 15px; margin-left: 25px; margin-top: 25px; vertical-align: middle; text-align: center;}
</style>
<i class="fa fa-facebook-square" onclick="window.open(encodeURI('http://www.facebook.com/ilmuncindia'), '_blank', 'location=yes', 'toolbar=yes');" style="font-size: 120px; margin-left: 50px; margin-top: 60px; color: #fff"></i>
<i class="fa fa-instagram" onclick="window.open(encodeURI('http://www.instagram.com/ilmuncindia'), '_blank', 'location=yes', 'toolbar=yes');" style="font-size: 120px; margin-left: 50px; margin-top: 60px; color: #fff"></i>
 <br />
<i class="fa fa-youtube-square" onclick="window.open(encodeURI('http://youtube.com/ilmuncindia'), '_blank', 'location=yes', 'toolbar=yes');" style="font-size: 120px; margin-left: 125px; margin-top: 100px; color: #fff"></i><br />
  </ion-content>
</ion-view>