<ion-view view-title="Meet the Team">
  <ion-content>
  <div class="list card" ng-repeat="sec in secs">
      <div class="item item-avatar-right item-body">
      	<div>
		<img style = "float: left; padding-right: 10px;" ng-src="{{sec.image}}">
      	</div>
        <div style="text-align: center; margin-top: 35px">
          <b style="font-size: 18px;">{{sec.name}}</b>
        </div>
        <div style="text-align: center">
          {{sec.title}}
        </div>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
                <a ng-href="mailto: {{sec.email}}" class="tab-item">
                    <i class="icon ion-email"></i>
                    {{sec.email}}
                </a>
            </div>
    </div>
  </ion-content>
</ion-view>