<ion-view view-title="Help and Feedback">
<ion-content has-header="true" has-subheader="true">
<!--<iframe src="https://docs.google.com/forms/d/1pq0rAkfVy2IVyW472YAM989yC5ZiMvlPegttPX6bFks/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>-->

<script type="text/javascript">
var submitted=false;
</script>
<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload="if(submitted)
{window.open(encodeURI('http://www.ilmunc-india.com/thanks.php'), '_blank', 'location=yes', 'toolbar=yes');}">
</iframe>
<form style="margin-top: 15px;" action="https://docs.google.com/forms/d/1pq0rAkfVy2IVyW472YAM989yC5ZiMvlPegttPX6bFks/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">
    <!--<form style="margin-top: 105px;"action="https://docs.google.com/forms/d/1pq0rAkfVy2IVyW472YAM989yC5ZiMvlPegttPX6bFks/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">--><ol role="list" class="ss-question-list" style="padding-left: 0">
    <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
           <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" placeholder="usg-ops@ilmunc-india.com" name="entry.1319399177" value="" class="ss-q-short" id="entry_1319399177" dir="auto" aria-label="Email  " aria-required="true" required="" title=""></label>
            <div class="error-message" id="885641329_errorMessage"></div>

        </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="ltr" class="ss-item ss-item-required ss-select"><div class="ss-form-entry">
            <label class="item item-input item-select" for="entry_1437465620"><div class="input-label">
              Feedback Type
          </div>
          <select name="entry.1437465620" id="entry_1437465620" aria-label="Feedback Type  " aria-required="true" required=""><option value=""></option>
<option value="Lost ID">Lost ID</option> <option value="Misspelt ID">Misspelt ID</option> <option value="Lost Placard">Lost Placard</option> <option value="Conference">Conference</option> <option value="Committees">Committees</option> <option value="Hotel">Hotel</option> <option value="App">App</option></select></label>
        </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
            <label class="ss-q-item-label" for="entry_2002818"></label>
            <label class="item item-input">
                <span class="input-label">Comments</span>
                <textarea name="entry.2002818" rows="8" cols="0" class="ss-q-long" id="entry_2002818" dir="auto" aria-label="Comments  " aria-required="true" required=""></textarea></label>
                <div class="error-message" id="611971978_errorMessage"></div>

            </div></div></div>
            <input type="hidden" name="draftResponse" value="[,,&quot;1163652570689728485&quot;]
            ">
            <input type="hidden" name="pageHistory" value="0">


            <input type="hidden" name="fbzx" value="1163652570689728485">

            <div class="ss-item ss-navigate">
                <input type="submit" style="margin-top: 15px; text-align:center;" name="submit" value="Submit" id="ss-submit" class="button button-dark center3">
            </div></ol></form>
            <h4 style="text-align: center; padding: 10px; margin-top: 25px; color: #fff">During live polls, scan the QR code shown on the screen to begin the poll.</h4>
            <button class ="button button-dark center3" ng-click="scanPoll()">Scan QR Code</button>
        </ion-content>

            <!--<ion-tab title="Polling" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
                <ion-content class="has-header has-subheader">
                    <button class ="button button-dark center" ng-click="scanPoll()">Scan QR Code</button>
                </ion-content>
            </ion-tab>

            <ion-tab title="ID/Placard" icon-on="ion-ios-help" icon-off="ion-ios-help-outline"><ion-content class = "has-header has-subheader">
            <script type="text/javascript">
            var submitted=false;
            </script>
            <iframe name="hidden_iframe" id="hidden_iframe"
            style="display:none;" onload="if(submitted)
            {window.open(encodeURI('http://www.ilmunc-india.com/thanks.php'), '_blank', 'location=yes', 'toolbar=yes');}">
        </iframe>
        <form action="https://docs.google.com/forms/d/1C5MOMzZ40DdZSYu1YCLpbceVX041CegLbv2cHwJ-Up8/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">
            <form action="https://docs.google.com/forms/d/1C5MOMzZ40DdZSYu1YCLpbceVX041CegLbv2cHwJ-Up8/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
    <label class="item item-input">
    <span class="input-label">Full Name</span>
<input type="text" placeholder="Dhruv Agarwal" name="entry.1944294496" value="" class="ss-q-short" id="entry_1944294496" dir="auto" aria-label="Full Name  " aria-required="true" required="" title=""></label>
<div class="error-message" id="342273081_errorMessage"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-select"><div class="ss-form-entry">

<label class="item item-input item-select" for="entry_1437465620"><div class="input-label">
      Problem
    </div>
<select name="entry.1943640984" id="entry_1943640984" aria-label="Problem  " aria-required="true" required=""><option value=""></option>
<option value="Error in your ID Card">Error in your ID Card</option> <option value="Lost ID Card">Lost ID Card</option> <option value="Lost Placard">Lost Placard</option></select></label>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_2002818"></label>
 <label class="item item-input">
    <span class="input-label">Additional Comments</span>
<textarea name="entry.891839489" rows="8" cols="0" class="ss-q-long" id="entry_891839489" dir="auto" aria-label="Additional Comments  "></textarea></label>
<div class="error-message" id="1106308355_errorMessage"></div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;6451311466487134928&quot;]
">
<input type="hidden" name="pageHistory" value="0">


<input type="hidden" name="fbzx" value="6451311466487134928">

<div class="ss-item ss-navigate">
<input style="margin-top: 15px; text-align:center;" type="submit" name="submit" value="Submit" id="ss-submit" class="button button-dark center3">
</div></ol></form>
        </ion-content>
        </ion-tab>
        </ion-tabs>
    </ion-view>-->
