<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" style="background: #6b1418" class="dark-bg">
    <ion-header-bar class="bar-dark">
    <img style="margin-left: 35px; margin-right: 35px" height = "38px" width = "180px"src="img/india-header-white.png" />
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home" class="item-icon-left">
         <i class="icon ion-ios-home"></i>
          Home
        </ion-item>
         <ion-item menu-close href="#/app/schedule" class="item-icon-left">
          <i class="icon ion-ios-calendar-outline"></i>
          Schedule
        </ion-item>
        <ion-item menu-close href="#/app/sessions" class="item-icon-left">
         <i class="icon ion-speakerphone"></i>
          Committees
        </ion-item>
        <ion-item menu-close href="#/app/map" class="item-icon-left">
         <i class="icon ion-map"></i>
          Map
        </ion-item>
        <ion-item menu-close href="#/app/procedure" class="item-icon-left">
         <i class="icon ion-ios-bookmarks"></i>
          Preparation Guides
        </ion-item>
        <ion-item menu-close href="#/app/meet" class="item-icon-left">
         <i class="icon ion-person-add"></i>
          My ILMUNC Contacts
        </ion-item>
        <ion-item menu-close href="#/app/contact" class="item-icon-left">
         <i class="icon ion-ios-people"></i>
          Meet the Team
        </ion-item>
        <ion-item menu-close href="#/app/sponsors" class="item-icon-left">
         <i class="icon ion-ios-star"></i>
          Partners & Speakers
        </ion-item>
        <ion-item menu-close href="#/app/connect" class="item-icon-left">
         <i class="icon ion-android-share-alt"></i>
          Connect
        </ion-item>
        <ion-item menu-close href="#/app/feedback" class="item-icon-left">
         <i class="icon ion-help"></i>
          Help and Feedback
        </ion-item>
      </ion-list>
      <p style="color: #fff; font-size: 14px; padding-top: 10px; margin: 0 auto; width: 200px;">Developed by Dhruv Agarwal &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &copy; ILMUNC India 2015</p>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
