<ion-view view-title="Preparation Guides">
  <ion-content class="has-header" scroll="false">
<style type="text/css">
img {margin-bottom: 15px; margin-left: 25px; margin-top: 25px; vertical-align: middle; text-align: center;}
</style>
<img style="margin-top:50px;" src="img/ps_img.png" onclick="window.open(encodeURI('http://www.ilmunc-india.com/assets/rules/position_paper_guide.pdf'), '_blank', 'location=yes', 'toolbar=yes');" width = "140px" height="180px"/>
<img style="margin-top:50px;" src="img/wp_img.png" onclick="window.open(encodeURI('http://www.ilmunc-india.com/assets/rules/working_paper.pdf'), 'location=yes', 'toolbar=yes');" width = "140px" height="180px"/> <br />
<img style="margin-top:50px;" src="img/rules_img.png" onclick="window.open(encodeURI('http://www.ilmunc-india.com/assets/rules/rules.pdf'), '_blank', 'location=yes', 'toolbar=yes');" width = "140px" height="180px"/> 
<img style="margin-top:50px;" src="img/rg_img.png" onclick="window.open(encodeURI('http://www.ilmunc-india.com/assets/rules/resolution_guide.pdf'), '_blank', 'location=yes', 'toolbar=yes');" width = "140px" height="180px" /> <br />
  </ion-content>
</ion-view>