<ion-view view-title="Rules">
  <ion-content>
    </ion-content>

<ion-footer-bar>
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Rules of Pocedure" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="">
    <ion-nav-view name="tab-procedure"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Position Paper" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="">
    <ion-nav-view name="tab-position"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Resolution" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="">
    <ion-nav-view name="tab-resolution"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Working Paper" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="">
    <ion-nav-view name="tab-working"></ion-nav-view>
  </ion-tab>


</ion-tabs>
</ion-footer-bar>
</ion-view>