<ion-view view-title="Partners and Speakers">
  <ion-content class="has-header">
      <section class="content">
    <div class="row">
      <div class="main large-8 column text-justify">
        <h3 style="color: #fff"> Lead Partner </h3>

        <div class="tier1" style="width: 100px; margin: 0 auto;">
          <a href="#"><img width="100px" src="img/ivy_central.jpg"></a>
        </div>
        <h3 style="color: #fff">College Fair Partners</h3>
        <div class="tier2" style="width: 100%; margin: 0 auto;">
          <a href="#"><img width="100px" src="img/nyu.jpg"></a>
          <a href="#"><img width="100px" src="img/chicago.jpg"></a>
        </div>
        <h3 style="color: #fff">Speakers</h3>
        <div class="tier3"  style="width: 100% ; margin: 0 auto;">
          <a href="#"><img width="100px" src="img/caroline.jpeg"></a>
          <a href="#"><img width="100px" src="img/piyush.jpg"></a>
          <a href="#"><img width="100px" src="img/meera.jpeg"></a>
          <a href="#"><img width="100px" src="img/binalakshmi.jpg"></a>
          <a href="#"><img width="100px" src="img/gurcharan.jpg"></a>
        </div>

      </div>
  </ion-content>
</ion-view>