<ion-view view-title="Map">
    <ion-tabs class="tabs-icon-top">
        
        <ion-tab title="Hotel Map" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
            <ion-content has-header="true" padding="true">
                <h2 style="padding-top: 70px;"> </h2>
                <ion-scroll zooming="true" direction="xy" style="width: 400px; height: 520px">
                    <img src="img/hotel_map.PNG"></img>
                </ion-scroll>
            </ion-content>
        </ion-tab>

        <ion-tab title="Around the Hotel" icon-on="ion-ios-monitor" icon-off="ion-ios-monitor-outline">
            <ion-content>
                <iframe src="https://www.google.com/maps/d/u/1/embed?mid=zVvpV4dcL8lU.kTkWG6Ovwgw8" width="100%" height="100%"></iframe>
            </ion-content>
        </ion-tab>

        <ion-tab title="Around Delhi" icon-on="ion-ios-world" icon-off="ion-ios-world-outline">
            <ion-content>
                <iframe src="https://www.google.com/maps/d/u/1/embed?mid=zVvpV4dcL8lU.kfRqLiTlqhsk" height="100%" width="100%"></iframe>
            </ion-content>
        </ion-tab>

    </ion-tabs>
</ion-view>