<ion-view view-title="My ILMUNC Contacts">
  <ion-content class="has-header">
  <div><br />
  <h4 style="text-align: center; padding: 10px; margin-top: 5px; color: #fff">Scan the QR code on a person's badge to add them to this list. Click "Add to Contacts" to save their details in your address book. All data will be lost if app is closed before saving to contacts.</h4>
<button class=" button button-dark center3" ng-click="scanBarcode()">Scan QR Code</button>  </div>  

<div class="list card" ng-repeat="peep in peeps">
	<div class="item item-divider"><b>{{peep.name}}</b></div>
      <div class="item item-body">
        <div>
          Committee: {{peep.committee}}
        </div>
        <div>
          Country: {{peep.country}}
        </div>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
                <a ng-href="tel: {{peep.phone}}" class="tab-item">
                    <i class="icon ion-iphone"></i>
                    {{peep.phone}}
                </a>
                <a ng-href="mailto: {{peep.email}}" class="tab-item">
                    <i class="icon ion-email"></i>
                    {{peep.email}}
                </a>
                <button ng-click="createContact()" class="button button-clear tab-item">
                   <i class="icon ion-person-add"></i>
                    Add to Contacts
                </button>
            </div>
    </div>
  </ion-content>
</ion-view>
