{% extends "layout.html" %}
{% set active_page = 'admin' %}

{% block content %}
	<h1>Admin</h1>

	<h2>adminResetChairSubmissions()</h2>
	<p>This URL will reset all attendance, points, awards, closing remarks, and speaker tracker data to 0 or None. It should only be used initially to set up conference, but once Chairs have entered data, it should be avoided.<br><br>www.ilmunc-india.com/admin/resetChairSubmissions</p>
{% endblock %}

{% block sidebar %}
	{% include "adminLinks.html" %}
{% endblock %}