{% extends "layout.html" %}
{% set active_page = 'committees' %}

{% block content %}
	<h1>Dynamic Background Guide</h1>

	<h3>{{ article.title|safe }}</h3>
	<h6 style="color: rgb(170, 172, 177);">Originally published {{ article.date.strftime('%m/%d/%Y') }} by <a href="{{ article.source_url|safe }}" target="_blank">{{ article.source|safe }}&nbsp;&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></h6>
	
	<div class="bg-article-text">{{ article.text|safe }}</div>

	<div id="disqus_thread" class="bg-article-disqus"></div>
	<script>
		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
		
		var disqus_config = function () {
			this.page.url = "http://www.ilmunc-india.com/committee/" + {{ committee.shortname|safe }} + "/bg/" + {{ article.canonical_url|safe }};  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = {{ committee.shortname|safe }} + "-" + {{ article.canonical_url|safe }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = '//ilmunc-india.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	</script>
{% endblock %}