{% extends "layout.html" %}
{% set active_page = 'dynamicBackgroundGuides' %}

{% block content %}
	<h1>Dynamic Background Guides</h1>
	<span class="subhead" style="font-size:30px;">Shaping the Future for MUN Preparation and Pre-Conference Engagement</span>

	<p>At ILMUNC India, one of the pillars we pride ourself on is innovation. We don't view innovation solely in the technology sphere, but we strive for innovation in all aspects of the conference - whether that's through completely unique social events, deliberate efforts to foster interaction between Directors and delegates, or through substantive innovation. </p>
	<p>The newest feature we want to bring to you, born out of this passion for innovation is Dynamic Background Guides - something we think will revolutionize the Model United Nations circuit and reframe the way in which delegates and schools prepare for conferences.</p>
	<p>Dynamic Background Guides are a collection of resources, curated by each committee's director, designed to supplement the information in the background guide. They are a unique way to expand the scope of the committee and allow delegates the opportunity to interact and debate ideas before conference. </p>

	<h2>How to use Dynamic BGs?</h2>

	<p>You can find your committee's dynamic background guide at the bottom of each respective <a href="{{ url_for('committees') }}">committee</a> page.</p>
	<p>Read, analyze and critically consider the resources presented, and use the commentary feature at the bottom of each respective article to present your thoughts as the delegate of the country you are representing. Engage with the ideas and comments presented by your fellow delegates before you. </p>
	
{% endblock %}