{% extends "layout.html" %}
{% set active_page = 'fees' %}

{% block content %}
	<h1>Registration Deadlines and Fees</h1>
	
	<h2>Registration Policies</h2>
	<ol>
		<li>
			There will be two rounds of registrations:
			<ol type="a">
				<li>The Priority Registration period will take place from June 25th to August 30th</li>
				<li>Regular registrations will take place from August 31st to October 30th.</li>
			</ol>
		</li>
		<li>Priority allocations will occur at the end of August. Although we do our best to keep everyone's preferences in mind while allocating, earlier registrations are more likely to be assigned their country preferences.</li>
		<li>
			Allocations will not be released until the relevant materials have been received and processed. If any of the materials below are not received, you will be pushed into a later allocation round. Please contact <a href="mailto:info@ilmunc-india.com">info@ilmunc-india.com</a> if you have any concerns.
			<ol type="a">
				<li>Full Payment</li>
				<li>Liability waiver form (will be sent once school has registered)</li>
			</ol>
		</li>
		<li>If the conference reaches capacity, schools and individuals will be placed on the waitlist. Preference to come off the waitlist will be given to delegations over individual delegates.</li>
		<li>Individual delegates are only required to pay the delegate fee and will be assigned to double rooms by default. To request roommate preferences or to request a single please email <a href="mailto:info@ilmunc-india.com">info@ilmunc-india.com</a>.</li>
		<li>Please note that Hotel Accommodation is available from 2PM on {{ g.ILMUNC_month }} {{ g.ILMUNC_start }} to 12PM on {{ g.ILMUNC_month }} {{ g.ILMUNC_end }}, {{ g.ILMUNC_year }}. All requests for early check-in must be sent to <a href="mailto:info@ilmunc-india.com">info@ilmunc-india.com</a> and will be catered to on a first-come basis.</li>
		<li>All conference fees are non-refundable and non-transferrable.</li>
	</ol>


	<h2>Delegate Fees and Inclusions</h2>
	<ul>
		<li>All fees are inclusive of taxes</li>
		<li>Hotel room cost for 3 nights (in a double)</li>
		<li>9 meals (Dinner on Day 1, Breakfast, Lunch and Dinner on Day 2, Breakfast, Lunch and Dinner on Day 3, Breakfast and Lunch on Day 4)</li>
		<li>Entry to all social events</li>
		<li>Entry to all conference events including speaker presentations, college fairs, educational and college workshops, training workshops, etc.</li>
		<li>Access to all online features including dynamic background guides, discussion forums, etc.</li>
		<li>Conference Kits including delegate guides, placards, ID Cards, etc.</li>
		<li>Visa assistance for International delegates limiting to necessary letters and documents from the conference.</li>
	</ul>

	<table>
		<thead>
			<tr>
				<td colspan="2">Domestic Delegations</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Delegate Conference Fee</td>
				<td>{{ g.ILMUNC_fees_domestic.currency }}{{ g.ILMUNC_fees_domestic.delegate }} per delegate</td>
			</tr>
			<tr>
				<td>Faculty Advisor Fee (Single Room)*</td>
				<td>{{ g.ILMUNC_fees_domestic.currency }}{{ g.ILMUNC_fees_domestic.faculty_single }} per advisor</td>
			</tr>
			<tr>
				<td>Faculty Advisor Fee (Double Room)*</td>
				<td>{{ g.ILMUNC_fees_domestic.currency }}{{ g.ILMUNC_fees_domestic.faculty_double }} per advisor</td>
			</tr>
			<tr>
				<td>Assistant Director Fee</td>
				<td>{{ g.ILMUNC_fees_domestic.currency }}{{ g.ILMUNC_fees_domestic.assistant_director }} per Assistant Director</td>
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<td colspan="2">International Delegations</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Delegate Conference Fee</td>
				<td>{{ g.ILMUNC_fees_international.currency }}{{ g.ILMUNC_fees_international.delegate }} per delegate</td>
			</tr>
			<tr>
				<td>Faculty Advisor Fee (Single Room)*</td>
				<td>{{ g.ILMUNC_fees_international.currency }}{{ g.ILMUNC_fees_international.faculty_single }} per advisor</td>
			</tr>
			<tr>
				<td>Faculty Advisor Fee (Double Room)*</td>
				<td>{{ g.ILMUNC_fees_international.currency }}{{ g.ILMUNC_fees_international.faculty_double }} per advisor</td>
			</tr>
			<tr>
				<td>Assistant Director Fee</td>
				<td>{{ g.ILMUNC_fees_international.currency }}{{ g.ILMUNC_fees_international.assistant_director }} per Assistant Director</td>
			</tr>
		</tbody>
	</table>
	<p><i><b>* One Faculty Advisor Fee will be waived per every 10 delegates in a delegation. For example, if your delegation has 10-19 delegates, you will be waived one FA fee. If your school has 20-29 delegates, you will be waived two FA fees, and so on.</b></i></p>

	<h2>Optional Conference Add-Ons</h2>
	<p>All requests for add-on options must be made before November 5th.</p>

	<table>
		<thead>
			<tr>
				<td colspan="2">Domestic Delegations</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Lunch on Thursday, {{ g.ILMUNC_month }} {{ g.ILMUNC_start }}</td>
				<td>INR 750 per person (inclusive of taxes)</td>
			</tr>
			<tr>
				<td>Transporation to and from airport</td>
				<td>INR 1200 per person</td>
			</tr>
			<tr>
				<td>Transporation to and from train</td>
				<td>INR 1500 per person</td>
			</tr>
		</tbody>
		<thead>
			<tr>
				<td colspan="2">International Delegations</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Lunch on Thursday, {{ g.ILMUNC_month }} {{ g.ILMUNC_start }}</td>
				<td>$15 per person (inclusive of taxes)</td>
			</tr>
			<tr>
				<td>Transporation to and from airport</td>
				<td>$20 per person</td>
			</tr>
			<tr>
				<td>Transporation to and from train</td>
				<td>$25 per person</td>
			</tr>
		</tbody>
	</table>

	<h2>Deadlines</h2>
	<table>
		<thead>
			<tr>
				<td colspan="2">Priority Registration</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>June 25th</td>
				<td>Priority Registration Opens</td>
			</tr>
			<tr>
				<td>August 30th</td>
				<td>Priority Registration Closes</td>
			</tr>
			<tr>
				<td>August 30th</td>
				<td>Priority Registration Payment Deadline</td>
			</tr>
		</tbody>
		<thead>
			<tr>
				<td colspan="2">Regular Registration</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>August 20th</td>
				<td>Regular Registration Opens</td>
			</tr>
			<tr>
				<td>October 30rd</td>
				<td>Regular Registration Closes</td>
			</tr>
			<tr>
				<td>November 5th</td>
				<td>Regular Registration Payment Deadline</td>
			</tr>
		</tbody>
		<thead>
			<tr>
				<td colspan="2">Assistant Director Applications</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>June 25th</td>
				<td>Applications Open</td>
			</tr>
			<tr>
				<td>July 30th</td>
				<td>Applications Close</td>
			</tr>
		</tbody>
		<thead>
			<tr>
				<td colspan="2">Other</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>October 30th</td>
				<td>Delegate </td>
			</tr>
			<tr>
				<td>Novermber 5th</td>
				<td>Delegate Liability Wavier Due</td>
			</tr>
			<tr>
				<td>Novermber 10th</td>
				<td>Position Papers Due</td>
			</tr>
		</tbody>
	</table>

	<p><i>* Payments made from November 15th to 18th will be charged additional late fee of INR 500 or $10</i></p>
{% endblock %}