{% extends "layout.html" %}
{% set active_page = 'password' %}

{% block content %}
	<h1>Forgot Password</h1>

	{% if error %}<div class="error">{{ error }}</div>{% endif %}

	<p>Forgot your username and/or password? Enter the email address you used to register for ILMUNC India.</p>

	<form action="{{ url_for('forgotPassword') }}" method="post">
		<div class="form-row">
			<div class="form-group half">
				<label class="required">Email address</label>
				<input type="text" name="email" id="email">
			</div>
		</div>

		<div class="button-row left">
			<input type="submit" value="Reset">
		</div>
	</form>
{% endblock %}