{% extends "layout.html" %}
{% set active_page = 'password' %}

{% block content %}
	<h1>Forgot Password</h1>

	{% if error %}<div class="error">{{ error }}</div>{% endif %}

	<!-- <p>Forgot your username and/or password? Enter the email address you used to register for ILMUNC India.</p>

	<form action="{{ url_for('forgotPassword') }}" method="post">
		<div class="row">
			<div class="col s12">
				<label class="required">Email address</label>
				<input type="text" name="email" id="email">
			</div>
		</div>

		<div class="row button-row">
			<div class="col s12">
				<input type="submit" value="Recover">
			</div>
		</div>
	</form> -->

	<p>We see that you forgot your account password. We're still working on this part of our website, but it will be available in the coming days. If it is urgent, feel free to email us at <a href="mailto:secgen@ilmunc-india.com">secgen@ilmunc-india.com</a></p> 
{% endblock %}