{% extends "layout.html" %}
{% set active_page = 'hotel' %}

{% block content %}
	<h1>Hotel Information</h1>
	<span class="subhead">Hyatt Regency, Gurgaon, Delhi NCR</span>

	<p>ILMUNC India {{ g.ILMUNC_year }} will be held at the <a href="http://gurgaon.regency.hyatt.com/en/hotel/home.html" target="_blank">Hyatt Regency, Gurgaon, Delhi NCR</a>. This accommodation is just 19 kilometres from Connaught Place, 17 kilometres from Chandni Chowk market and a 40 minute drive from the Indira Gandhi International Airport, making it easily accessible by transport.</p>

	<p>Hyatt Regency Gurgaon is located in the fringe of corporate headquarters in the rapidly growing industrial belt of Gurgaon and Manesar.</p>

	<p>As the largest convention hotel in the city with an area of 40,000 sq.ft, the hotel is perfect for the biggest ILMUNC India yet. The hotel, featuring 451 guest rooms, also offers luxurious recreational facilities, an outdoor swimming pool, and the finest dining options. Delegates and faculty advisors will also be able to enjoy free Wi-Fi on an unlimited number of devices in guest rooms and social spaces.</p>

	<p>Exquisitely designed rooms feature, elegant Anigure furniture, floor-to ceiling windows with a view overlooking the landscaped garden or swimming pool. Guestrooms offer a plush king bed, work desk with high-speed Internet access, evening turndown services and complimentary use of the fitness center and swimming pool. Lavish marble bathrooms are designed overlooking the room with facilities including a rain shower cabin, soaking tub and a wide range of bathroom amenities.</p>

	<p>ILMUNC India {{ g.ILMUNC_year }} will be a residential conference. If you have any questions, please contact us directly at <a href="mailto:{{ g.ILMUNC_email }}">{{ g.ILMUNC_email }}</a>.</p>

	<p>For more information about the hotel, visit its webpage <a href="http://gurgaon.regency.hyatt.com/en/hotel/home.html" target="_blank">here</a>.

	<br><br><br>

	<img src="/static/images/hotel/1.png" alt="" width="100%">
	<img src="/static/images/hotel/2.png" alt="" width="100%">
	<img src="/static/images/hotel/3.png" alt="" width="100%">
	<img src="/static/images/hotel/4.png" alt="" width="100%">
	<img src="/static/images/hotel/5.png" alt="" width="100%">

{% endblock %}