{% extends "layout.html" %}
{% set active_page = 'invitation' %}

{% block content %}
	<h1>Welcome to ILMUNC India {{ g.ILMUNC_year }}</h1>
	<div class="letter">
		<p>Dear Delegates,</p>

		<div class="headshot-large" style="background-image:url('/static/images/headshots/sec2017/Siddharth-Kumar.jpg');"></div>

		<p>It is my distinct pleasure to invite you to The Ivy League Model United Nations Conference India {{ g.ILMUNC_year }} co-hosted by the International Affairs Association of the University of Pennsylvania, an Ivy League institution and MUNCafe, a brand of Worldview. This year, ILMUNC India will take place from {{ g.ILMUNC_month }} {{ g.ILMUNC_start }} to {{ g.ILMUNC_month }} {{ g.ILMUNC_end }}, {{ g.ILMUNC_year }}.</p>

		<p>As an alumnus of the conference, I have experienced firsthand the unique academic, social and cultural experience that is ILMUNC India. In my small committee of 9 were people from every corner of India and beyond, including delegates from Argentina, Bahrain and the USA. I got to know my chairs and fellow-delegates outside the committee room too through fun social events, and some of them remain friends even today, 3 years later. Through attending an entirely residential conference I become better friends with classmates from my own school. I got to explore the vibrant city of Delhi and learn more about India’s rich history. Every year since, ILMUNC India has grown from strength to strength and the Secretariat is hard at work making ILMUNC India 2017 even more special.</p>

		<p>By bringing together close to 700 students from across the world, ILMUNC India goes beyond just 3 days of exciting debate; as delegates you will get the opportunity to develop solutions to some of the worlds most pressing problems, understand student life at an Ivy League institution and interact with influential regional leaders. </p>

		<p>This year, we are excited to simulate 8 unique and dynamic committees. Through fast-paced crisis committees, engaging novice committees, large General Assemblies, small regional bodies, and issues ranging from corruption to UK’s famous Brexit vote, there is surely a committee for suited to every delegate’s interests and experience. The Committee Directors each bring their own unique passions and perspectives to the committee rooms and can’t wait to see what unique ideas you will bring as delegates as you discuss some of the world’s most pressing issues.</p>
		
		<p>Our delegates' experiences outside of committee are just as vital as their experiences within committee. In the past we have hosted numerous college and career fairs, personal mentoring sessions with current students and alumni, speeches by regional leaders and, of course, fun social events. As you immerse yourself discussing issues in committee take the time to get to know your chairs and staffers. Haling from many different schools at Penn, they are some of the most accomplished, nicest and interesting people I have had the pleasure of meeting.</p>
		
		<p>We are certain that you will walk away from this conference with memories that you will cherish for a long time to come. If you have any questions, concerns, or comments please fell free to reach out to me at secgen@ilmunc-india.com. On behalf of the entire Secretariat, I cannot wait to meet you all in Delhi very soon!</p>

		<p><span class="signature">Siddharth Kumar</span><br>
		Secretary-General<br>
		ILMUNC India {{ g.ILMUNC_year }}<br>
		<a href="mailto:secgen@ilmunc-india.com">secgen@ilmunc-india.com</a></p>
	</div>
{% endblock %}

