{% extends "layout.html" %}
{% set active_page = 'invitation' %}

{% block content %}
	<h1>Welcome to ILMUNC India 2016</h1>
	<div class="letter">
		<p>Dear Delegates,</p>

		<img src="/static/images/headshots/sec2016/Ana-Rancic.png" class="headshot-large" alt="Ana Rancic">

		<p>It is my distinct pleasure to invite you to The Ivy League Model United Nations Conference India 2016 hosted by the International Affairs Association of the University of Pennsylvania, an Ivy League institution. This year, ILMUNC India will take place from November 19th to November 22th 2016.</p>

		<p>The Ivy League Model United Nations Conference is one of the most reputed high school conferences in the United States bringing together over 3000 delegates from across the globe in an unique academic, social and cultural experience. We are incredibly excited to bring this experience to India this year in what will be one of the largest and most academically, professionally and socially enriching Model United Nations symposiums.</p>

		<p>A large part of what makes ILMUNC India so incredible is the commitment of its amazing staff, as well as the immense preparation that goes into making this conference the phenomenal experience that it is. Our staffers are all leaders at the prestigious University of Pennsylvania, who come from a diverse range of majors, interests, classes, and schools – from Finance at the Wharton School of Business to Computer Science and Nanotechnology at the School of Engineering. At ILMUNC India, this academic excellence and personal passions that chairs bring truly bring a professional collegiate environment and distinct enriching experience to our high school delegates, both within and outside the committee room.</p>

		<p>The Secretariat is working hard to ensure that the quality of the conference is unparalleled. This year will bring together close to 1000 delegates in 8 distinct committees. The topics we are discussing are pertinent issues in today's world and we are excited to witness the unique and diverse solutions that our delegates will bring to the table. The ILMUNC India team is continuously searching for ways to make the conference better and more engaging for our delegates. We are proud to announce technological advancement in the Model United Nations circuit including a groundbreaking mobile application that will soon be released.</p>
		
		<p>Our delegates' experiences outside of committee are just as vital as their experiences within committee. At ILMUNC India we ensure that our delegates take away memories and experiences that will better them personally and professionally. Outside of the invaluable Model United Nations experience, we host numerous college and career fairs, personal mentoring sessions with current students and alumni, keynote speeches from prominent members of society and, of course, enthralling social events.</p>
		
		<p>Our delegates are the most integral part of our story and I'd like to once again thank you for choosing to be a part of our next chapter of ILMUNC India 2016. We are certain that you will walk away from this conference with memories that you will cherish for a long time to come. If you have any questions, concerns, or comments between now and the conference, I encourage you to reach out to me at secgen@ilmunc-india.com. On behalf of the entire Secretariat, I cannot wait to host you and your school in Delhi this November.</p>

		<p><span class="signature">Ana Rancic</span><br>
		Secretary-General<br>
		ILMUNC India {{ g.ILMUNC_year }}<br>
		<a href="mailto:secgen@ilmunc-india.com">secgen@ilmunc-india.com</a></p>
	</div>
{% endblock %}

