{% extends "layout.html" %}
{% set active_page = 'invoice' %}

{% block content %}
	<h1>Invoice</h1>
	<table>
		<thead>
			<tr>
				<td>Item</td>
				<td>Rate</td>
				<td>Quantity</td>
				<td>Amount</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Delegate Conference Fee</td>
				<td>{{ g.ILMUNC_fees_domestic.currency }}{{ g.ILMUNC_fees_domestic.delegate }}</td>
				<td>{{ current_user.user.expected_delegates }}</td>
				<td>{{ g.ILMUNC_fees_domestic.currency }}{{ g.ILMUNC_fees_domestic.delegate * current_user.user.expected_delegates }}</td>
			</tr>
			{% if single_advisors|length > 0 %}
			<tr>
				<td>Faculty Advisor Fee (Single Room)</td>
				<td>{{ g.ILMUNC_fees_domestic.currency }}{{ g.ILMUNC_fees_domestic.faculty_single }}</td>
				<td>{{ single_advisors|length }}</td>
				<td>{{ g.ILMUNC_fees_domestic.currency }}{{ g.ILMUNC_fees_domestic.faculty_single * single_advisors|length }}</td>
			</tr>
			{% endif %}
			{% if double_advisors|length > 0 %}
			<tr>
				<td>Faculty Advisor Fee (Double Room)</td>
				<td>{{ g.ILMUNC_fees_domestic.currency }}{{ g.ILMUNC_fees_domestic.faculty_double }}</td>
				<td>{{ double_advisors|length }}</td>
				<td>{{ g.ILMUNC_fees_domestic.currency }}{{ g.ILMUNC_fees_domestic.faculty_double * double_advisors|length }}</td>
			</tr>
			{% endif %}
			{% if assistant_directors|length > 0 %}
			<tr>
				<td>Assistant Director Fee</td>
				<td>{{ g.ILMUNC_fees_domestic.currency }}{{ g.ILMUNC_fees_domestic.assistant_director }}</td>
				<td>{{ assistant_directors|length }}</td>
				<td>{{ g.ILMUNC_fees_domestic.currency }}{{ g.ILMUNC_fees_domestic.assistant_director * assistant_directors|length }}</td>
			</tr>
			{% endif %}
		</tbody>
		<thead>
			<tr>
				<td colspan="3">Total</td>
				<td>{{ g.ILMUNC_fees_domestic.currency }}{{ g.ILMUNC_fees_domestic.delegate * current_user.user.expected_delegates + g.ILMUNC_fees_domestic.faculty_single * single_advisors|length + g.ILMUNC_fees_domestic.faculty_double * double_advisors|length + g.ILMUNC_fees_domestic.assistant_director * assistant_directors|length }}</td>
			</tr>
		</thead>
		<tdbody>
			{% set payment_total = 0 %}
			{% for payment in payments %}
			<tr>
				<td colspan="3">{{ payment.date }}</td>
				<td>({{ g.ILMUNC_fees_domestic.currency }}{{ payment.amount }})</td>
			</tr>
			{% set payment_total = payment_total + payment.amount %}
			{% endfor %}
		</tdbody>
		<thead>
			<tr>
				<td colspan="3">Amount Paid</td>
				<td>({{ g.ILMUNC_fees_domestic.currency }}{{ payment_total }})</td>
			</tr>
		</thead>
		<thead>
			<tr>
				<td colspan="3">Balance Remaining</td>
				<td>{{ g.ILMUNC_fees_domestic.currency }}{{ g.ILMUNC_fees_domestic.delegate * current_user.user.expected_delegates + g.ILMUNC_fees_domestic.faculty_single * single_advisors|length + g.ILMUNC_fees_domestic.faculty_double * double_advisors|length + g.ILMUNC_fees_domestic.assistant_director * assistant_directors|length - payment_total }}</td>
			</tr>
		</thead>
	</table>
{% endblock %}

{% block sidebar %}
	{% include "delegationLinks.html" %}
{% endblock %}