{% extends "layout.html" %}
{% set active_page = 'invoice' %}

{% if current_user.user.country == "India" %}
	{% set fees = g.ILMUNC_fees_domestic %}
{% else %}
	{% set fees = g.ILMUNC_fees_international %}
{% endif %}

{% block content %}
	<h1>Invoice</h1>
	<table id="invoice">
		<thead>
			<tr>
				<td>Item</td>
				<td>Rate</td>
				<td>Quantity</td>
				<td>Amount</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Delegate Conference Fee</td>
				<td>{{ fees.currency }}{{ fees.delegate }}</td>
				<td>{{ current_user.user.expected_delegates }}</td>
				<td>{{ fees.currency }}{{ fees.delegate * current_user.user.expected_delegates }}</td>
			</tr>
			{% if single_advisors|length > 0 %}
			<tr>
				<td>Faculty Advisor Fee (Single Room)</td>
				<td>{{ fees.currency }}{{ fees.faculty_single }}</td>
				<td>{{ single_advisors|length }}</td>
				<td>{{ fees.currency }}{{ fees.faculty_single * single_advisors|length }}</td>
			</tr>
			{% endif %}
			{% if double_advisors|length > 0 %}
			<tr>
				<td>Faculty Advisor Fee (Double Room)</td>
				<td>{{ fees.currency }}{{ fees.faculty_double }}</td>
				<td>{{ double_advisors|length }}</td>
				<td>{{ fees.currency }}{{ fees.faculty_double * double_advisors|length }}</td>
			</tr>
			{% endif %}
			{% if assistant_directors|length > 0 %}
			<tr>
				<td>Assistant Director Fee</td>
				<td>{{ fees.currency }}{{ fees.assistant_director }}</td>
				<td>{{ assistant_directors|length }}</td>
				<td>{{ fees.currency }}{{ fees.assistant_director * assistant_directors|length }}</td>
			</tr>
			{% endif %}
		</tbody>
		<thead>
			<tr>
				<td colspan="3">Total</td>
				<td>{{ fees.currency }}{{ fees.delegate * current_user.user.expected_delegates + fees.faculty_single * single_advisors|length + fees.faculty_double * double_advisors|length + fees.assistant_director * assistant_directors|length }}</td>
			</tr>
		</thead>
		<tdbody>
			{% set payment_total = 0 %}
			{% for payment in payments %}
			<tr>
				<td colspan="3">{{ payment.date }}</td>
				<td>({{ fees.currency }}{{ payment.amount }})</td>
			</tr>
			{% set payment_total = payment_total + payment.amount %}
			{% endfor %}
		</tdbody>
		<thead>
			<tr>
				<td colspan="3">Amount Paid</td>
				<td>({{ fees.currency }}{{ payment_total }})</td>
			</tr>
		</thead>
		<thead>
			<tr>
				<td colspan="3">Balance Remaining</td>
				<td>{{ fees.currency }}{{ fees.delegate * current_user.user.expected_delegates + fees.faculty_single * single_advisors|length + fees.faculty_double * double_advisors|length + fees.assistant_director * assistant_directors|length - payment_total }}</td>
			</tr>
		</thead>
	</table>
{% endblock %}

{% block sidebar %}
	{% include "delegationLinks.html" %}
{% endblock %}