<!-- MENU ITEMS -->
{% set about = [
	('about', 'ILMUNC India')
] %}

{% set aboutExt = [
	('ilmunc', 'ILMUNC'),
	('penn', 'University of Pennsylvania')
] %}

{% set about2 = [
	('worldview', 'Worldview')
] %}

{% set conference = [
	('invitation', 'Invitation'),
	('schedule', 'Schedule'),
	('fees', 'Registration Deadlines and Fees'),
	('hotel', 'Conference Venue'),
	('faq', 'Frequently Asked Questions'),
	('terms', 'Terms and Conditions')
] %}

{% set register = [
	('register', 'Register'),
	('ad', 'AD Application')
] %}



{% set committees_GA = [
	('DISEC', 'First Committee: DISEC'),
	('SOCHUM', 'Third Committee: SOCHUM'),
	('UK', 'UK House of Commons')
] %}

{% set committees_ECOSOC = [
	('UNODC', 'United Nations Office on Drugs and Crime'),
	('IMO', 'International Maritime Organization')
] %}

{% set committees_Crisis = [
	('Republicans', 'Spanish Civil War: Republicans'),
	('Nationalists', 'Spanish Civil War: Nationalists'),
	('bnVjbGVhcmRlYWw', 'Ad-Hoc Committee of the Secretary-General')
] %}

{% set research = [
	('dynamicBackgroundGuides', 'Dynamic Background Guides'),
	('research', 'Research Links'),
	('procedure', 'Procedure'),
	('training', 'Training Videos'),
	('webinars', 'Webinars')
] %}

<!-- {% set speakers = [
	('speakers', 'Beyond Model UN')
] %} -->

{% set account = [
	('account', 'Summary'),
	('logout', 'Log Out')
] %}


<!-- SETTING AND PRINTING PAGES -->
{% set active_page = active_page|default('index') %}
{% macro print_menu(arr, committee_flag, ext_link) %}
	{% for item in arr %}
		<li {% if active_page == item[0] %} class="active" {% endif %}>
			{% if committee_flag %}
			<a href="{{ url_for('committee', name=item[0]|e) }}">{{ item[1] }}</a>
			{% elif ext_link %}
			<a href="{{ url_for(item[0]|e) }}" target="_blank">{{ item[1] }}</a>
			{% else %}
			<a href="{{ url_for(item[0]|e) }}">{{ item[1] }}</a>
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
	<!-- META -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=320, initial-scale=1">

	<!-- TITLE -->
	<title>ILMUNC India {{ g.ILMUNC_year }}</title>

	<!-- FAVICON -->
	<link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/static/images/favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/static/images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/static/images/favicons/manifest.json">
	<link rel="mask-icon" href="/static/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/static/images/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/static/images/favicons/mstile-144x144.png">
	<meta name="msapplication-config" content="/static/images/favicons/browserconfig.xml">
	<meta name="theme-color" content="#7ae6c5">

	<!-- JQUERY AND JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.maskedinput.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/static/js/lightbox.js" type="text/javascript"></script>
	<script src="/static/js/sorttable.js" type="text/javascript"></script>
	<script src="http://cdn.rawgit.com/RobinHerbots/jquery.inputmask/3.2.7/dist/min/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
	<script src="http://cdn.rawgit.com/andr-04/inputmask-multi/1.2.0/js/jquery.inputmask-multi.min.js" type="text/javascript"></script>
	<script src="https://use.fontawesome.com/60abbfaad2.js"></script>
	<script>
		$(document).ready(function() {
			$('.expander').click(function() {
				$(this).next('.expandable').toggleClass('visible');
			});
		});
	</script>

	<!-- CSS -->
	<link rel="stylesheet" href="/static/css/main.css"/>
	<link rel="stylesheet" href="/static/css/pages.css"/>
	<link rel="stylesheet" href="/static/css/jquery-ui.min.css"/>

	<!-- FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,900,300' rel='stylesheet' type='text/css'>

	<!-- FACEBOOK ANALYTICS -->
	<script>
		!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
				n.callMethod.apply(n,arguments):n.queue.push(arguments)};
				if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
				n.queue=[];t=b.createElement(e);t.async=!0;
				t.src=v;s=b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t,s)}(window,document,'script',
				'https://connect.facebook.net/en_US/fbevents.js');

			fbq('init', '723703797766587');
			fbq('track', 'PageView');
	</script>
	<noscript>
		<img height="1" width="1" src="https://www.facebook.com/tr?id=723703797766587&ev=PageView&noscript=1"/>
	</noscript>
</head>

<body>
	<div id="frames">
		<!-- LIGHTBOX -->
		<div id="lightbox" style="display: none;">
			<div id="lightbox-background" onclick="hideLightbox();"></div>
			<div id="lightbox-inner">
				<div id="lightbox-title"></div>
				<div id="lightbox-close" onclick="hideLightbox();"></div>
				<div id="lightbox-body"></div>
			</div>
		</div>

		<!-- NAV BAR -->
		<nav {% if active_page == 'index' %}class="index"{% endif %}>
			<i class="menu fa fa-bars" aria-hidden="true" onclick="toggleMenu();"></i>
			<ul>
				<li class="logo">
					<a href="{{ url_for('index') }}"></a>
				</li>
				<li>
					<a href="{{ url_for('about') }}">About</a>
					<ul>
						{{ print_menu(about) }}
						{{ print_menu(aboutExt, False, True) }}
						{{ print_menu(about2) }}
					</ul>
				</li>
				<li>
					<a href="{{ url_for('invitation') }}">Conference</a>
					<ul>{{ print_menu(conference) }}</ul>
				</li>
				<li>
				<a href="{{ url_for('secretariat') }}">Secretariat</a>
				</li>
				<li>
					<a href="{{ url_for('committees') }}">Committees</a>
					<ul>
						<li><h6> General Assemblies:</h6></li>
						{{ print_menu(committees_GA, True) }}
						<li><h6> Economic and Social Councils:</h6></li>
						{{ print_menu(committees_ECOSOC, True) }}
						<li><h6> Crisis Committees:</h6></li>
						{{ print_menu(committees_Crisis, True) }}
					</ul>
				</li>
				<li>
					<a href="{{ url_for('speakers') }}">Beyond Model UN</a>
					
					<!--<a href="{{ url_for('research') }}">Research</a>
					<ul>{{ print_menu(research) }}</ul>-->
				</li>
			</ul>
			<ul class="highlight">
				<li>
					<a href="{{ url_for('register') }}">Register</a>
					<ul>{{ print_menu(register) }}</ul>
				</li>
				<li>
					{% if current_user.is_anonymous() %}
						<a href="{{ url_for('login') }}">Login</a>
					{% else %}
						<a href="{{ url_for('account') }}">Account</a>
						<ul>{{ print_menu(account) }}</ul>
					{% endif %}
				</li>
			</ul>
		</nav>
		<script>
			function toggleMenu() {
				$('nav').toggleClass('visible');
			}

			var images = new Array()
			function preload() {
				for (i = 0; i < preload.arguments.length; i++) {
					images[i] = new Image()
					images[i].src = preload.arguments[i]
				}
			}
			preload(
				"http://www.ilmunc-india.com/static/images/logos/lotus_color.png"
			)
		</script>
				
		<!-- LANDING -->
		<div id="landing">{% block landing %}{% endblock %}</div>

		<!-- ERROR -->
		{% if error %}<div class="inner"><div class="error">{{ error }}</div></div>{% endif %}

		<!-- SUCCESS -->
		{% if success %}<div class="inner"><div class="success">{{ success }}</div></div>{% endif %}

		<!-- BANNER -->
		<div id="banner">{% block banner %}{% endblock %}</div>

		<div class="inner">
			<!-- CONTENT -->
			<div id="content">{% block content %}{% endblock %}</div>

			<!-- SIDEBAR -->
			<div id="sidebar">{% block sidebar %}
				<div id="clockdiv" style="display:none;">
					<div>
						<span class="days"></span>
						<div class="smalltext">Days</div>
					</div>
					<div>
						<span class="hours"></span>
						<div class="smalltext">Hrs</div>
					</div>
					<div>
						<span class="minutes"></span>
						<div class="smalltext">Min</div>
					</div>
				</div>

				{% if g.updates|length > 0 %}
					<span class="label">Announcements</span>
					{% for update in g.updates %}
						<!-- <h4>{{ update[0]|safe }}</h4> -->
						<p class="label">{{ update[1]|safe }}</p>
					{% endfor %}
				{% endif %}

				{% if g.deadlines|length > 0 %}
					<span class="label">Deadlines</span>
					{% for deadline in g.deadlines %}
						<!-- <h4>{{ deadline[0]|safe }}</h4> -->
						<p class="label">{{ deadline[1]|safe }}</p>
					{% endfor %}
				{% endif %}

					<span class="label">About Us</span>
					<p class="label">The Ivy League Model United Nations Conference India is the region's preeminent Model United Nations conference. We combine an exceptional, challenging, immersive, academic experience with the opportunity to meet India's brightest minds, as well as to receive guidance, mentorship, and support from distinguished students studying at the <a href="https://www.upenn.edu/" target="_blank">University of Pennsylvania</a> and its <a href="https://www.wharton.upenn.edu/" target="_blank">Wharton School of Business</a>. The conference is co-hosted by Penn's International Affairs Association and MUNCafe, a brand of Worldview.</p>

					<p style="text-align:center;">
						<a href="{{ url_for('ilmunc') }}" target="_blank"><img src="/static/images/logos/ilmunc.png" alt="ILMUNC" height="80px"></a>
						<a href="{{ url_for('muncafe') }}" target="_blank"><img src="/static/images/logos/muncafe.png" alt="MUNCafe" height="80px"></a>
					</p>

					<span class="label">Past Sponsors</span>
					<p style="text-align:center; vertical-align:middle;">
						<a href="{{ url_for('ivycentral') }}" target="_blank"><img src="/static/images/logos/sponsors/ivycentral.jpg" alt="ILMUNC" height="50px"></a>&nbsp;&nbsp;
						<a href="{{ url_for('coke') }}" target="_blank"><img src="/static/images/logos/sponsors/coke.png" alt="MUNCafe" height="35px" style="margin-bottom:8px;"></a>&nbsp;&nbsp;
						<a href="{{ url_for('ashoka') }}" target="_blank"><img src="/static/images/logos/sponsors/ashoka.png" alt="MUNCafe" height="50px"></a>
					</p>
			{% endblock %}</div>
			<script>
				function getTimeRemaining(endtime) {
					var t = Date.parse(endtime) - Date.parse(new Date());
					var minutes = Math.floor((t / 1000 / 60) % 60);
					var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
					var days = Math.floor(t / (1000 * 60 * 60 * 24));
					return {
						'total': t,
						'days': days,
						'hours': hours,
						'minutes': minutes
					};
				}

				function initializeClock(id, endtime) {
					var clock = document.getElementById(id);
					var daysSpan = clock.querySelector('.days');
					var hoursSpan = clock.querySelector('.hours');
					var minutesSpan = clock.querySelector('.minutes');

					function updateClock() {
						var t = getTimeRemaining(endtime);

						daysSpan.innerHTML = t.days;
						hoursSpan.innerHTML = t.hours
						minutesSpan.innerHTML = t.minutes

						if (t.total <= 0) {
							clearInterval(timeinterval);
						}
					}

					updateClock();
					var timeinterval = setInterval(updateClock, 1000);
				}

				var deadline = 'November 24 2017 10:30:00 UTC+0000';
			</script>
		</div>

		<!-- LOWER -->
		<div id="lower">{% block lower %}{% endblock %}</div>

		<!-- FOOTER -->
		<div id="footer">
			<div class="inner">
				<p>Organized by the <a href="http://penniaa.com/" target ="_blank">International Affairs Association</a> of the University of Pennsylvania and <a href="http://www.muncafe.com/" target="_blank">MUNCafe, a brand of Worldview.</a></p>

				<div class="row">
					<div class="col s3">
						<h5>General Inquiries</h5>						
						<h6>Phone: 91-90528-97457</h6>
						<p><a href="mailto:info@ilmunc-india.com">info@ilmunc-india.com</a></p>
					</div>
					<div class="col s3">
						<h5>Siddharth Kumar</h5>
						<h6>Secretary-General</h6>
						<p><a href="mailto:secgen@ilmunc-india.com">secgen@ilmunc-india.com</a></p>
					</div>
					<div class="col s3">
						<h5>Noah Levine</h5>
						<h6>Director-General</h6>
						<p><a href="mailto:dirgen@ilmunc-india.com">dirgen@ilmunc-india.com</a></p>
					</div>
				</div>

				<br>

				<div class="social-icons">
					<a href="https://www.facebook.com/ilmuncindia" target="_blank" class="social white large facebook"></a>
					<a href="https://instagram.com/ilmuncindia" target="_blank" class="social white large instagram"></a>
				</div>

				<p id="copyright">&copy; <a href="http://www.penniaa.com" target="_blank">2016-2017 University of Pennsylvania International Affairs Association</a></p>
			</div>
		</div>
	</div>
</body>
</html>