{% extends "layout.html" %}
{% set active_page = 'login' %}

{% block content %}
	<h1>Account Login</h1>
		
	<form action="{{ url_for('login') }}" method="post">
		<div class="form-row">
			<div class="form-group half">
				<label class="required">Username</label>
				<input id="login" type="text" name="name" required>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group half">
				<label class="required">Password</label>
				<input id="password" type="password" name="password" required>
			</div>
		</div>

		<div class="button-row left">
			<input type="submit" value="Log In">
		</div>
	</form>

	<p><a href="{{ url_for('forgotPassword') }}">Forgot Your Password?</a></p>
{% endblock %}