{% extends "layout.html" %}
{% set active_page = 'resetPassword' %}

{% block content %}
	<h1>Reset Password</h1>

	<div class="row">
		<div class="col s12">
			<label class="required">Username</label>
			<input type="text" value="{{ username }}" disabled>
		</div>
	</div>

	<form action="{{ url_for('resetPassword') }}" method="post">
		<div class="row">
			<div class="col s6">
				<label class="required">Password</label>
				<input type="password" name="password" id="password" required>
			</div>
			<div class="col s6">
				<label class="required">Confirm Password</label>
				<input type="password" name="password2" id="password2" required>
			</div>
		</div>

		<input type="hidden" value="{{ user_ID }}" name="user_ID" />

		<div class="row button-row">
			<div class="col s12">
				<input type="submit" value="Reset">
			</div>
		</div>
	</form>
{% endblock %}