{% extends "layout.html" %}
{% set active_page = 'resetPassword' %}

{% block content %}
	<h1>Reset Password</h1>

	<p>Username: {{ username }}</p>

	<form action="{{ url_for('resetPassword') }}" method="post">
		<div class="form-row">
			<div class="form-group half">
				<label class="required">Password</label>
				<input type="password" name="password" id="password" required>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group half">
				<label class="required">Confirm Password</label>
				<input type="password" name="password2" id="password2" required>
			</div>
		</div>

		<input type="hidden" value="{{ school_ID }}" name="school_ID" />

		<div class="button-row left">
			<input type="submit" value="Reset">
		</div>
	</form>
{% endblock %}