{% extends "layout.html" %} {% set active_page = 'secretariat' %} {% block sidebar %}{% endblock %} {% block lower %}
<div class="inner">
	<h1>ILMUNC India {{g.ILMUNC_year}} Secretariat</h1>
	<!--<img src="/static/images/headshots/sec2016/Secretariat-Cropped.jpg" width="100%" style="margin-bottom: 20px;">-->

	{% for sec in secretariat %}
	<div class="col" style="width:20%;">
		<div class="card c1 clickable secretariat" style="background-image: url('/static/images/headshots/sec2017/{{ sec.first_name|safe }}-{{ sec.last_name|safe }}.jpg');"
		 alt="{{ sec.first_name|safe }} {{ sec.last_name|safe }}');" onclick="showLightbox('', '#{{ sec.secretariat_ID|safe }}_bio', 700);">

			<div id="{{ sec.secretariat_ID|safe }}_bio" class="lightbox-content">
				<div class="bio">
					<div class="headshot-rounded"><img src="/static/images/headshots/sec2017/{{ sec.first_name|safe }}-{{ sec.last_name|safe }}.jpg" alt="{{ sec.first_name|safe }} {{ sec.last_name|safe }}"></div>
					<h1>{{ sec.first_name|safe }} {{ sec.last_name|safe }}</h1>
					<h3>{{ sec.position|safe }}</h3>
				</div>
				<div class="letter">{{ sec.bio|safe }}</div>
			</div>
		</div>
		<div class="bio">
			<h3><span style="font-size: 20pt">{{ sec.first_name|safe }} {{ sec.last_name|safe }}</span></h3>
			<h3><span style="font-size: 16pt">{{ sec.position|safe }}</span></h3>
		</div>
	</div>
	{% endfor %}

</div>
{% endblock %}