{% extends "layout.html" %}
{% set active_page = 'secretariat' %}

{% block sidebar %}{% endblock %}

{% block lower %}
<h1>ILMUNC {{g.ILMUNC_year}} Secretariat</h1>

<ul id="secretariat">
	{% for sec in secretariat %}
	<li onclick="showLightbox('', '#{{ sec.id|safe }}_bio', 700);">
		<img src="/static/images/headshots/sec2016/{{ sec.first_name|safe }}-{{ sec.last_name|safe }}.png" alt="{{ sec.first_name|safe }} {{ sec.last_name|safe }}">
		<div>
			<span>{{ sec.first_name|safe }} {{ sec.last_name|safe }}</span>
			<span>{{ sec.position|safe }}</span>
		</div>
		<div id="{{ sec.id|safe }}_bio" class="lightbox-content">
			<div class="bio">
				<div class="headshot-rounded"><img src="/static/images/headshots/sec2016/{{ sec.first_name|safe }}-{{ sec.last_name|safe }}.png" alt="{{ sec.first_name|safe }} {{ sec.last_name|safe }}"></div>
				<h1>{{ sec.first_name|safe }} {{ sec.last_name|safe }}</h1>
				<h3>{{ sec.position|safe }}</h3>
			</div>
			<div class="letter">{{ sec.bio|safe }}</div>
		</div>
	</li>
	{% endfor %}
</ul>
{% endblock %}