{% extends "layout.html" %}
{% set active_page = 'secretariat' %}

{% block content %}
	<h1>ILMUNC India {{g.ILMUNC_year}} Secretariat</h1>

	{% for sec in secretariat %}
		<div class="col s4">
			<div class="card c1 clickable secretariat" style="background-image: url('/static/images/headshots/sec2016/{{ sec.first_name|safe }}-{{ sec.last_name|safe }}.png" alt="{{ sec.first_name|safe }} {{ sec.last_name|safe }}');" onclick="showLightbox('', '#{{ sec.secretariat_ID|safe }}_bio', 700);">
				<!-- <div>
					<span>{{ sec.first_name|safe }} {{ sec.last_name|safe }}</span>
					<span>{{ sec.position|safe }}</span>
				</div> -->
				<div id="{{ sec.secretariat_ID|safe }}_bio" class="lightbox-content">
					<div class="bio">
						<div class="headshot-rounded"><img src="/static/images/headshots/sec2016/{{ sec.first_name|safe }}-{{ sec.last_name|safe }}.png" alt="{{ sec.first_name|safe }} {{ sec.last_name|safe }}"></div>
						<h1>{{ sec.first_name|safe }} {{ sec.last_name|safe }}</h1>
						<h3>{{ sec.position|safe }}</h3>
					</div>
					<div class="letter">{{ sec.bio|safe }}</div>
				</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}