{% extends "layout.html" %}
{% set active_page = 'speakers' %}

{% block content %}
    <h1>Beyond Model United Nations</h1>
    <h2>Our Conference Sustainability Partner</h2>
    <a href="{{ url_for('coke') }}" target="_blank"><img src="/static/images/logos/sponsors/coke.png" alt="MUNCafe" height="200px" style="margin-bottom:8px;"></a>&nbsp;&nbsp;
    <p><b>Coca-Cola India is the Sustainability Partner of Ivy League Model United Nations India 2017.</b></p>
    <p><b>The Coca-Cola Company is the world's largest beverage company, refreshing consumers with more than 500 sparkling and still brands and more than 3,800 beverage choices. More than 1.9 billion servings of Coca-Cola beverages are enjoyed by consumers in more than 200 countries each day. With an enduring commitment to building sustainable communities, Coca-Cola is focused on initiatives that reduce our environmental footprint, create a safe, inclusive work environment for our associates, and enhance the economic development of the communities where we operate.</b></p>
    <p><b>For more information, visit Coca-Cola Journey at <a href="{{ url_for('coke') }}" target="_blank">our website</a>, follow us on Twitter, visit our blog, <a href='http://www.coca-colacompany.com/coca-cola-unbottled' target='_blank'>Coca-Cola Unbottled</a>, or find us on LinkedIn.</b></p>
            

	<h2>Previous Speakers</h2>
	<span class="subhead">ILMUNC India hosts guest speakers from a wide variety of industries and backgrounds. These are some examples of previous guests.</span>

    <p><h4>Caroline Linger: Mentor, Counselor &amp; Founder, Ivy Central</h4></p>
    
    <img src="/static/images/headshots/speakers/1.jpg" alt="" width="40%">

	<br><br><br>

    <p><h4>Gurcharan Das: Former Managing Director, P&amp;G</h4></p>
    
    <img src="/static/images/headshots/speakers/2.jpg" alt="" width="40%">

    <br><br><br>

    <p><h4>Binalakshmi Nepram: Writer-Activist &amp; Co-Founder, CAFI, Founder, Manipur Women Gun Survivors Network</h4></p>
    
    <img src="/static/images/headshots/speakers/3.jpg" alt="" width="40%">

    <br><br><br>

    <p><h4>Caroline Linger: Mentor, Counselor &amp; Founder, Ivy Central</h4></p>
    
    <img src="/static/images/headshots/speakers/4.jpg" alt="" width="40%">

	<br><br><br>
{% endblock %}