{% extends "layout.html" %}
{% set active_page = 'speakers' %}

{% block content %}
    <h1>Beyond Model United Nations</h1>
    <h2> Sustainability Partner</h2>
    <a href="{{ url_for('coke') }}" target="_blank"><img src="/static/images/logos/sponsors/coke.png" alt="MUNCafe" width="320px" style="margin-bottom:8px;"></a>&nbsp;&nbsp;
    <p><b>Coca-Cola India is the Sustainability Partner of Ivy League Model United Nations India 2017.</b></p>
    <p><b>The Coca-Cola Company is the world's largest beverage company, refreshing consumers with more than 500 sparkling and still brands and more than 3,800 beverage choices. More than 1.9 billion servings of Coca-Cola beverages are enjoyed by consumers in more than 200 countries each day. With an enduring commitment to building sustainable communities, Coca-Cola is focused on initiatives that reduce our environmental footprint, create a safe, inclusive work environment for our associates, and enhance the economic development of the communities where we operate.</b></p>
    <p><b>For more information, visit Coca-Cola Journey at <a href="{{ url_for('coke') }}" target="_blank">our website</a>, follow us on Twitter, visit our blog, <a href='http://www.coca-colacompany.com/' target='_blank'>Coca-Cola Unbottled</a>, or find us on LinkedIn.</b></p>
            
    <h2> Associate Partner</h2>
    <a href="http://www.ivycentral.com" target="_blank"><img src="/static/images/logos/sponsors/ivycentral.jpg" alt="MUNCafe" width="320px" style="margin-bottom:8px;"></a>&nbsp;&nbsp;
    <p><b>Ivy Central is the Associate Partner of Ivy League Model United Nations India 2017.</b></p>
    <p><b>Ivy Central specializes in placing students at UPenn, Harvard, Princeton, Columbia, Brown, Cornell and the Top 100 Universities in the US, UK, Canada and Australia.</b></p>
    <ul>
		<li>90% of Ivy Central students got into their top 3 college choices in 2016-17.</li>
		<li>100% of Ivy Central students got into the US Top 100 Universities.</li>
		<li>Ivy Central class of 2016-17 won over 5.4 Million USD in merit scholarships.</li>
	</ul>
    <p><b>For more information, visit <a href="http://www.ivycentral.com" target="_blank">their website</a>.</b></p>
            

	<h2>Past Speakers</h2>
	<span class="subhead">Each year, a host of accomplished personalities and leaders across various fields of work deliver talks that are insightful, engaging, and serve as lessons that will stay with the students for life. The past speakers at ILMUNC India were:</span>

        <div class="col speaker" style="float: left">        
            <img src="/static/images/headshots/speakers/1.jpg" alt="" width="100%">
            <div class="speaker-title">
                <h6>Caroline Linger</h6>
                <p>Mentor, Counselor &amp; Founder, Ivy Central</p>
            </div>
        </div>
        <div class="col speaker" style="float: right">
            <img src="/static/images/headshots/speakers/2.jpg" alt="" width="100%">
            <div class="speaker-title">
                <h6>Gurcharan Das</h6>
                <p>Former Managing Director, P&amp;G</p>
            </div>
        </div>
        <div class="col speaker" style="float: left">
            <img src="/static/images/headshots/speakers/3.jpg" alt="" width="100%">
            <div class="speaker-title">
                <h6>Binalakshmi Nepram</h6>
                <p>Writer-Activist &amp; Co-Founder, CAFI, Founder, Manipur Women Gun Survivors Network</p>
            </div>
        </div>
        <div class="col speaker" style="float: right">
            <img src="/static/images/headshots/speakers/4.jpg" alt="" width="100%">
            <div class="speaker-title">
                <h6>Meera Sanyal</h6>
                <p>Public Servant, Former CEO and Chairperson, RBS India</p>
            </div>
        </div>
        <div class="col speaker" style="float: left">
            <img src="/static/images/headshots/speakers/5.jpg" alt="" width="100%">
            <div class="speaker-title">
                <h6>Chhavi Rajawat</h6>
                <p>Sarpanch, Village Council of Soda, “Young Global Leader” - World Economic Forum</p>
            </div>
        </div>
        <div class="col speaker" style="float: right">
            <img src="/static/images/headshots/speakers/6.jpg" alt="" width="100%">
            <div class="speaker-title">
                <h6>Piyush Tewari</h6>
                <p>Award-winning Social Entrepreneur, Founder &amp; CEO, SaveLIFE Foundation</p>
            </div>
        </div>
        <div class="col speaker" style="float: left">
            <img src="/static/images/headshots/speakers/7.jpg" alt="" width="100%">
            <div class="speaker-title">
                <h6>Anju Pandey</h6>
                <p>Program Officer, UN Women for Bhutan, India, Maldives &amp; Sri Lanka</p>
            </div>
        </div>
        <div class="col speaker" style="float: right">
            <img src="/static/images/headshots/speakers/8.jpg" alt="" width="100%">
            <div class="speaker-title">
                <h6>Birad Rajaram Yajnik</h6>
                <p>Author, Entrepreneur &amp; Curator, Peace, Truth &amp; Ahimsa</p>
            </div>
        </div>
        <div class="col speaker" style="float: left">
            <img src="/static/images/headshots/speakers/9.jpg" alt="" width="100%">
            <div class="speaker-title">
                <h6>Pramath Raj Sinha</h6>
                <p>Founder &amp; MD for 9.9 Media, Founding Dean of ISB</p>
            </div>
        </div>
        <div class="col speaker" style="float: right">
            <img src="/static/images/headshots/speakers/10.jpg" alt="" width="100%">
            <div class="speaker-title">
                <h6>Venkatesh Kini</h6>
                <p>Former President of Coca Cola India &amp; South West Asia Business Unit</p>
            </div>
        </div>
        <div class="col speaker" style="float: left">
            <img src="/static/images/headshots/speakers/11.jpg" alt="" width="100%">
            <div class="speaker-title">
                <h6>Venkat Changavalli</h6>
                <p>Advisor to Govt. of UP for Home and Health, Director of SBH</p>
            </div>
        </div>
        <div class="col speaker" style="float: right">
            <img src="/static/images/headshots/speakers/13.jpg" alt="" width="100%">
            <div class="speaker-title">
                <h6>Anjaneesh Kumar</h6>
                <p>Deputy Director General, Indian Council of World Affairs (ICWA)</p>
            </div>
        </div>
        <div class="col speaker" style="float: left">
            <img src="/static/images/headshots/speakers/14.jpg" alt="" width="100%">
            <div class="speaker-title">
                <h6>Sujatha V Kumar</h6>
                <p>Director of Category Marketing &amp; Corporate Brand, Coca Cola India</p>
            </div>
        </div>

{% endblock %}
