{% extends "layout.html" %}
{% set active_page = 'speakers' %}

{% block content %}
	<h1>Previous Speakers</h1>
	<span class="subhead">ILMUNC India hosts guest speakers from a wide variety of industries and backgrounds. These are some examples of previous guests.</span>

    <p><h4>Caroline Linger: Mentor, Counselor &amp; Founder, Ivy Central</h4></p>
    
    <img src="/static/images/headshots/speakers/1.jpg" alt="" width="40%">

	<br><br><br>

    <p><h4>Gurcharan Das: Former Managing Director, P&amp;G</h4></p>
    
    <img src="/static/images/headshots/speakers/2.jpg" alt="" width="40%">

    <br><br><br>

    <p><h4>Binalakshmi Nepram: Writer-Activist &amp; Co-Founder, CAFI, Founder, Manipur Women Gun Survivors Network</h4></p>
    
    <img src="/static/images/headshots/speakers/3.jpg" alt="" width="40%">

    <br><br><br>

    <p><h4>Caroline Linger: Mentor, Counselor &amp; Founder, Ivy Central</h4></p>
    
    <img src="/static/images/headshots/speakers/1.jpg" alt="" width="40%">

	<br><br><br>
{% endblock %}