{% extends "layout.html" %}
{% set active_page = 'sponsorship' %}

{% block content %}
    <h1>Sponsorship Information</h1>

    <h3><a href="/static/docs/India-Sponsorship.pdf">Download Sponsorship Brochure</a><br><br></h3>

	<div class="letter">
		<div class="headshot-large" style="background-image:url('/static/images/headshots/sec2017/Lucia-Game.jpg');"></div>
        
        <p>DEAR PROSPECTIVE SPONSORS,</p>

		<p>The International Affairs Association of the University of Pennsylvania is delighted to be partnered with Mun Cafe to bring you Ilmunc India 2017. This coming November, hundreds of motivated students will come to New Delhi, for one of the largest international Model United Nations conference in the India. As one of the most prestigious Model United Nations simulations in the country, ILMUNC India provides high school students with an unparalleled opportunity to actively study and debate the world’s most pressing issues.</p>

		<p>On behalf of the entire secretariat, we would like to thank you for your interest in partnering with our conference. We are actively seeking to work with companies, schools, summer and educational programs, local restaurants, travel agencies and non-profit and advocacy organizations as sponsors. Sponsoring and advertising at ILMUNC India is an incredible way to spread your brand name to hundreds of talented, high-achieving students. In order to work with you and accommodate your specific needs, we have created three high-value sponsorship packages that provide top-tier marketing opportunities.</p>

		<p>In exchange for your support—whether in the form of a sponsorship package or food, beverage, or other donations—we can offer your organization advertisements in our Delegate Guide, which is read multiple times each day by every attendee; naming rights to our widely-anticipated events; inserts in folders distributed to all delegates; advertisements on our website and app, in our staff guide; and much more. We are always more than happy to work with your company to craft a custom-tailored package to best suit your needs.</p>

		<p>With students who come from all over the country and beyond ILMUNC India provides a truly exceptional advertising opportunity. If your organization has any questions about ILMUNC India or is interested in pursuing an advertising agreement, please do not hesitate to contact me or to visit our website at www.ilmunc-india.com to learn more about the conference. We look forward to developing a long-lasting relationship with you.</p>
        
        <p>Best regards, </p>
        <p><span class="signature">Lucia Game</span><br>
		Business Director<br>
		ILMUNC India {{ g.ILMUNC_year }}<br>
		<a href="mailto:partnership@ilmunc-india.com">partnership@ilmunc-india.com</a></p>
	</div>
{% endblock %}

