{% extends "layout.html" %}
{% set active_page = 'staffDelegations' %}

{% block lower %}
<div class="inner">
	<h1>Schools <a href="{{ url_for('register') }}" title="Add New"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a></h1>
	<table style="word-wrap:break-word; table-layout:fixed;">
		<thead>
			<tr>
				<td>School</td>
				<td>Email</td>
				<td style="width:100px;">Size</td>
				<td style="width:80px;">View</td>
			</tr>
		</thead>
		<tbody>
			{% for school in schools %}
			<tr>
				<td>{{ school.school_name }}</td>
				<td><a href="mailto:{{ school.email }}">{{ school.email }}</a></td>
				<td>{{ school.expected_delegates }}</td>
				<td><a href="{{ url_for('staffViewDelegation', id=school.delegation_ID) }}" title="View"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

{% block sidebar %}{% endblock %}