{% extends "layout.html" %}
{% set active_page = 'training' %}

{% block content %}
	<h1>Training Videos</h1>

	<h2>Committee Training Video</h2>
	<div class="videoWrapper">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/sdpzBdejqCg?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>

	<h2>Past Chair Webinars</h2>
	<div class="videoWrapper">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLNE2cJnD_3r5VEDP58snDGemk-RkQ38C0" frameborder="0" allowfullscreen></iframe>
	</div>
{% endblock %}