{% extends "layout.html" %}
{% set active_page = 'webinars' %}

{% block lower %}
<div class="inner">
	<h1>Webinars</h1>
	<iframe src="http://www.ustream.tv/combined-embed/21478414?videos=gallery&videosCount=8&html5ui" style="border: 0 none transparent;"  webkitallowfullscreen allowfullscreen frameborder="no" width="100%" height="752"></iframe>

	<h2>Webinar Schedule</h2>
	<table style="word-wrap:break-word; table-layout:fixed;">
		<thead>
			<tr>
				<td>Date</td>
				<td>Time</td>
				<td>Name</td>
				<td>Topic</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Tuesday, November 1</td>
				<td>6:30pm IST</td>
				<td>Ahmed Kamil<br>(<a href="{{ url_for('committee', name='WHO') }}">ECOSOC: WHO</a>)</td>
				<td>Parliamentary Procedure and General MUN Tips</td>
			</tr>
			<tr>
				<td>Tuesday, November 1</td>
				<td>7:30pm IST</td>
				<td>Aashil Desai<br>(<a href="{{ url_for('committee', name='Bonaparte') }}">Crisis: Bonaparte Family Dinner</a>)</td>
				<td>Notes in Crisis / What on earth are Portfolio Powers?</td>
			</tr>
			<tr>
				<td>Wednesday, November 2</td>
				<td>7:30pm IST</td>
				<td>Medha Sharma<br>(<a href="{{ url_for('committee', name='SAAAS') }}">Crisis: South African Anti-Apartheid Summit</a>)</td>
				<td>What is a Directive / How to Succeed in Crisis Committees</td>
			</tr>
			<tr>
				<td>Thursday, November 3</td>
				<td>7:30pm IST</td>
				<td>Michael Mintovsky<br>(<a href="{{ url_for('committee', name='DISEC') }}">GA: DISEC</a>)</td>
				<td>Success in GA/DISEC: Parlimentary Procedure and Etiquette Guidelines</td>
			</tr>
			<tr>
				<td>Monday, November 7</td>
				<td>6:30pm IST</td>
				<td>Zhara Hussain<br>(<a href="{{ url_for('committee', name='ILO') }}">ECOSOC: ILO</a>)</td>
				<td>Advice for Unmoderated Caucuses and Drafting Resolutions</td>
			</tr>
			<tr>
				<td>Tuesday, November 8</td>
				<td>6:30pm IST</td>
				<td>Vatsal Jayaswal<br>(<a href="{{ url_for('committee', name='UNFPA') }}">ECOSOC: UNFPA</a>)</td>
				<td>Success in GA and ECOSOC: Advice on Good Public Speaking and Making a Strong Impression on the Committee</td>
			</tr>
			<tr>
				<td>Tuesday, November 8</td>
				<td>7:30pm IST</td>
				<td>Daniel Palmieri<br>(<a href="{{ url_for('committee', name='Special') }}">GA: Special Session on Drugs – Novice</a>)</td>
				<td>Special Session on Drugs: Looking Closer at Marijuana Legalization in the United States</td>
			</tr>
			<tr>
				<td>Wednesday, November 9</td>
				<td>6:30pm IST</td>
				<td>Matt Simon<br>(<a href="{{ url_for('committee', name='Legal') }}">GA: Legal</a>)</td>
				<td>GA Format / What Makes a Great Delegate</td>
			</tr>
			<tr>
				<td>Wednesday, November 9</td>
				<td>7:30pm IST</td>
				<td>Risha Rohera<br>(<a href="{{ url_for('committee', name='SAAAS') }}">Crisis: South African Anti-Apartheid Summit</a>)</td>
				<td>Committee Procedures / Rules for Crisis Committees</td>
			</tr>
			<tr>
				<td>Thursday, November 10</td>
				<td>6:30pm IST</td>
				<td>Carmen Abello<br>(<a href="{{ url_for('committee', name='Bonaparte') }}">Crisis: Bonaparte Family Dinner</a>)</td>
				<td>How to be a Great Crisis Delegate Inside and Outside of the Crisis Room</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}

{% block sidebar %}{% endblock %}